#experience{
    margin-top:20%;
    display: flex;
    text-align: left;
    justify-content: center;
    margin-left: 10%;
    margin-top:5%;
}

.jobs{
    margin-top:8%;
    display: flex;
    /* justify-content: left; */
}
.jobpicture{
       max-width:700px;
       float:left;
       margin-left: -50px;
       margin-top: 8%;
}
.perspectaBorder{
    height:200px;
    width: 450px;
    margin-top:-33%;
    margin-left:5%;
    border: 5px solid var(--main-yellow);
}
#perspectaPic{
    max-width:85%;
}

.jobDesc{

    margin-left:6%;
}

.jobDesc ul{
    list-style-type: square;
    color: var(--main-yellow);
}