/* text settings */
html {
    scroll-behavior: smooth;
  }
  
:root{
    --main-yellow : #57ccb1;
    --main-white : #F7EDE2;
    --main-blue : #54889e;
    --main-pink : #64ffda;
}


p{
    color: var(--main-white);
    font-size: 120%;
}
em{
    color: var(--main-pink);
}
h1{
    font-weight:500;
    font-size:520%;
    color:var(--main-pink);
}

h2{
    font-weight:400;
    color: var(--main-pink);
}
h3{
    font-weight:300;
    color: var(--main-white);

}

/* 
Nav Bar Settings
*/
header{
    background-color: var(--main-blue);
}
#navbar{
    background-color: var(--main-green);
    position: fixed;
    top: 3%;
    width:100%;
    text-align:center;
    align-self:center;
    
    transition: top 0.3s;
}
#navbar a{
    font-weight:300;
    padding: 20px;
    /* margin-left:60px; */
    
}
.logo{
    top:50px;
    left: 2%;
    float:left;
    margin-left:4%;
    color:var(--main-white);
}
.nav-right{
    float:right;
    right:2%;
    margin-right:4%;
    color:var(--main-blue);
    font-size: 75%;
}

.nav-right a{
    /* margin-right:60px; */
    display : contents;
    color:var(--main-white);
}
.nav-right a :hover{
    background-color: #8cafa6;
}

.nav-right a:nth-last-child(4){
    margin-right:40px;
    display : inline-block;
}
.nav-right a:nth-last-child(3){
    margin-right:40px;
    display : inline-block;
}
.nav-right a:nth-last-child(2){
    margin-right:40px;
    display : inline-block;
}
.nav-right a:nth-last-child(1){
    display : inline-block;
}

/* Socials */
.socials{
    bottom : 10vh;
    left : 2vw;
    position:fixed;
}

/* 
Intro Settings
*/
#intro{
    min-height:100vh;
    width:80vw;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
}


.intro-intro{
    margin-right: 38%;
    margin-top: -5%;
    
    color:var(--main-yellow);
    font-size: 200%;
    font-weight: 400;
}

.intro-Name{
    font-size: 800%;
    margin-top: -2%;
    margin-right: 24%;
    color:var(--main-pink);

}

.intro-desc{
    margin-top: 2.5%;
    font-size: 300%;
    margin-right: 1%;
    color:var(--main-white);
}

body{
    background-color: var(--main-blue);

}

/* 
About section
*/
#about{
    margin-top:8%;
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
}

#wrapper{
    width: 70%;
    margin: 0 auto;
    margin-left: 10%;
}
#wrapper2{
    width: 70%;
    margin: 0 auto;
}

.section-Heading::after{
    content: "";
    display: block;
    width: 670px;
    height: 1px;
    color:var(--main-yellow);
    border: 2px solid var(--main-yellow);


}

.innerWrap{
justify-content: left;
display: flex;
}
.about_desc {
    flex:1;
    float: left;
}

.about-picture{
    /* float :right; */
    margin-left:5%;
    max-width:500px;
}

#profPic {
    float:right;
    max-width:100%;
    max-height:100%;
    position:relative;
  }

.borderpic{
    height:500px;
    width: 500px;
    margin-left: 20px;
    margin-top:20px;
    /* margin-top:-10px; */
    /* position: absolute; */
    border: 5px solid var(--main-yellow);
}

.bottomSkills{
    margin : 0 auto;
    margin-left:2%;

}

.skillList{
    display:grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto auto auto;
}
.sBox{
    margin:10px 5px;
    text-align:center;
    width:240px;
    height:40px;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(147, 199, 165, 0.47); 
    box-shadow: 0px 0px 5px 5px rgba(88, 88, 88, 0.47);
    transition-duration: .5s;
}
.sBox:hover{
    background-color: var(--main-yellow); 
}

#experience{
    margin-top:20%;
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
}

.jobs{
    margin-top:8%;
    display: flex;
    /* justify-content: left; */
}
.jobpicture{
       max-width:900px;
       float:left;
       margin-left: -70px;
       margin-top: 8%;
}
#perspectaPic{
    flex:1;
    max-width:100%;
    max-height:100%;
    position:relative;
}

.jobDesc{

    margin-left:6%;
    flex:1;
}

.jobDesc ul{
    list-style-type: square;
    color: var(--main-yellow);
}

/* 
Motion settings
 */
/* Using animate.css, found here : https://animate.style */
.delay-logo{
    animation-delay: .05s;
}
.delay-about{
     animation-delay: .05s;
}
.delay-exp{
    animation-delay: .15s;
}
.delay-proj{
    animation-delay: .25s;
}
.delay-cont{
    animation-delay: .35s;
}
 .delay-int{
     animation-delay:  .5s;
}
.delay-name{
    animation-delay: .7s;
}
.delay-desc{
    animation-delay:.8s;
}