/* text settings */
html {
    scroll-behavior: smooth;
  }
  
:root{
    --main-yellow : #16f0bd;
    --main-white : #F7EDE2;
    --main-blue : #4c6671;
    --main-pink : #64ffda;
    --main-skills : #61858f;
}


p{
    color: var(--main-white);
    font-size: 120%;
}
em{
    color: var(--main-pink);
}
projTitle{
    color: var(--main-pink);
    font-size: 120%;
    font-family:Helvetica;
}
h1{
    font-weight:500;
    font-size:520%;
    color:var(--main-pink);
}

h2{
    font-weight:400;
    color: var(--main-pink);
}
h3{
    font-weight:300;
    color: var(--main-white);

}

/* 
Intro Settings
*/
#intro{
    min-height:100vh;
    width:80vw;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
}


.intro-intro{
    margin-right: 38%;
    margin-top: -5%;
    
    color:var(--main-yellow);
    font-size: 200%;
    font-weight: 400;
}

.intro-Name{
    font-size: 800%;
    margin-top: -2%;
    margin-right: 24%;
    color:var(--main-pink);

}

.intro-desc{
    margin-top: 2.5%;
    font-size: 300%;
    margin-right: 1%;
    color:var(--main-white);
}

body{
    background-color: var(--main-blue);

}

/* 
About section
*/
#about{
    margin-top:8%;
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
}

#wrapper{
    width: 70%;
    margin: 0 auto;
    margin-left: 10%;
}
#wrapper2{
    width: 70%;
    margin: 0 auto;
}

.section-Heading::after{
    content: "";
    display: block;
    width: 670px;
    height: 1px;
    color:var(--main-yellow);
    border: 2px solid var(--main-yellow);


}

.innerWrap{
justify-content: left;
display: flex;
}
.about_desc {
    flex:1;
    float: left;
}

.about-picture{
    /* float :right; */
    margin-left:5%;
    max-width:500px;
}

#profPic {
    float:right;
    max-width:100%;
    max-height:100%;
    position:relative;
  }

.borderpic{
    height:500px;
    width: 500px;
    margin-left: 20px;
    margin-top:20px;
    /* margin-top:-10px; */
    /* position: absolute; */
    border: 5px solid var(--main-yellow);
}

/* 
Motion settings
 */
/* Using animate.css, found here : https://animate.style */
.delay-logo{
    animation-delay: .05s;
}
.delay-about{
     animation-delay: .05s;
}
.delay-exp{
    animation-delay: .15s;
}
.delay-proj{
    animation-delay: .25s;
}
.delay-cont{
    animation-delay: .35s;
}
 .delay-int{
     animation-delay:  .5s;
}
.delay-name{
    animation-delay: .7s;
}
.delay-desc{
    animation-delay:.8s;
}